@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:opsz@6..12&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Nunito Sans;
}

body {
    width: 100%;
    margin: auto;
    background-color: var(--white-color);
}

:root {
    --white-color: #ffffff;
    --purple-color: #793FDF;
    --aqua-color: #97fff5;
    --blue-light: #7091f56e;
    --yellow-color: #FFFD8C;
    --black-color: #333333;
  }


/* Header - Titulo */
header{
    text-align: center;
    padding: 15px;
    background-color: var(--purple-color);
    color: var(--white-color);
    font-size: 25px;
    border-bottom-left-radius: 200px;
}


/* Caja de texto */
textarea[name="user-input"]{
    text-align: center;
    margin: 3rem;
    width: 40%;
    height: 15rem;
    background-color: var(--blue-light);
    color: var(--black-color);
    float: left;
}


/* Listado de métricas */
.metricas{
    width: 40%;
    height: 2rem; 
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid var(--blue-light);
    background-color: var(--yellow-color);
    text-align: center;
    color: var(--black-color);
    list-style: none; 
    float: right;
}

.metricas:hover{
    background-color: var(--blue-light);
}


/* Botón */
#reset-button {
    margin: 10px;
    width: 12rem;
    height: 2.5rem;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--aqua-color);
    border: 2px solid var(--blue-light);
    border-radius: 10px;
    color: var(--purple-color);
    cursor: pointer;
}

#reset-button:hover{
    background-color: var(--purple-color);
    color: var(--aqua-color);
}


/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: var(--purple-color);
    font-family: Nunito Sans, sans-serif;
    color: var(--white-color);
    font-size: 15px;
    border-top-right-radius: 200px;
}



